<!DOCTYPE html>
<html>
  <head>
    <title>Category Management</title>
    <style>
      th {
        background-color: #aa0c14;
        color: white;
        font-size: 16px;
        padding-left: 10px;
        border-bottom: 2px solid white;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 1em;
        overflow: hidden;
      }

      td {
        padding: 1em;
        /* background: #ddd; */
      }

      body {
        margin: 1.5em;
      }

      .deletebutton a {
        color: #aa0c14;
        font-weight: bolder;
      }
      label {
        margin-top: 10px;
        font-weight: bold;
      }
      input[type="text"],
      select {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 16px;
        background-color: rgb(211, 211, 211);
      }
      button[type="submit"] {
        background-color: #565656;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      button[type="submit"]:hover {
        background-color: #2f2e2e;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffff;
      }

      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }

      tr:nth-child(even) {
        background-color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="color: #aa0c14; opacity: 0.7">Category Management</h1>
      <form method="post" action="/admin/addCategory">
        <label for="category-name">Category Name:</label>
        <input type="text" id="category-name" name="categoryname" required />

        <button type="submit">Add Category</button>
      </form>

      <table>
        <thead>
          <tr>
            <th style="padding-left: 10px">Category Name</th>
            <th style="padding-left: 10px">Action</th>
          </tr>
        </thead>
        <tbody>
          <% (categories || []).forEach(category => { %>
          <tr>
            <td><%= category.categoryName %></td>
            <td class="deletebutton"><a href="/deleteCategory/<%= category._id %>">DELETE</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
