  <main>
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">Sign in</h4>
                
                <form method="post" action="/admin/adminLogin">
                    <div class="mb-3">
                        <input class="form-control" type="text" required="" name="email" placeholder="Your Email">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" required="" type="password" name="password" placeholder="Password">
                    </div> <!-- form-group// -->
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100" name="login"> Login </button>
                    </div> <!-- form-group// -->
                </form>
            </div>
        </div>
    </section>
</main>



  