<!-- <style>
    div { background-image: url('/user/assets/imgs/errorImage.jpg');
    background-position: center;
    background-size: cover;
}
    </style> -->
<h1 style="color: red; padding-left: 5px;"><%= message %></h1>
<h2 style="color: red; padding-left: 5px;"><%= error.status %></h2>
<pre style="font-size: medium; padding-left: 5px;"><%= error.stack %></pre>
</div>
