<div class="product-list">
    <div class="product">
      <div class="product-image">
        <img src="product-image-url.jpg" alt="Product Image">
      </div>
      <div class="product-details">
        <h2 class="product-name">Product Name</h2>
        <p class="product-price">$19.99</p>
        <div class="product-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
      </div>
      <div class="product-actions">
        <a href="#" class="add-to-wishlist">
          <span class="fa fa-heart"></span> Add to Wishlist
        </a>
        <a href="#" class="add-to-cart">
          <span class="fa fa-shopping-cart"></span> Add to Cart
        </a>
      </div>
    </div>
    
    <!-- Repeat the above code for each product in the list -->
    
  </div>
  