<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="index.html" rel="nofollow">Home</a>
              <span></span> Pages
              <span></span> Login / Register
          </div>
      </div>
  </div>
  <section class="pt-150 pb-150">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 m-auto">
                  <div class="row">
                      <div class="col-lg-5 m-auto">
                          <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                              <div class="padding_eight_all bg-white">
                                  <div class="heading_s1">
                                      <h3 class="mb-30">OTP Verification</h3>
                                  </div>
                                  <form method="post" action="/otpverify" onsubmit="return otpValidation()">
                                      <div class="form-group">
                                          <input type="number" id="otp_pin"   required="" name="otp_pin" placeholder="Enter OTP Pin">
                                      </div>
                                     
                                      <div class="form-group">
                                          <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>

<script>
  function otpValidation(){
    let otpValue = document.getElementById('otp_pin').value
    if(otpValue.length >0 && otpValue.length ==4){
      return true
    }
    return false
  }
</script>